<!-- <html> -->
<div class="gradient">

    <div class="container">
        <a ui-sref="about" class="nav-link">About</a>
        <a ui-sref="register" class="nav-link">Register</a>
        <a class="nav-link">Login</a>
        <a ui-sref="todos" class="nav-link">Home</a>
        <h1 class="navbar-brand">Chores - Get It Done!</h1>
    </div>

    <div class="loginForm">
        <form ng-submit="login()">
            <input class="form-control todos__create-input" type="text" placeholder="User Name" ng-model="user.name" />
            <input class="form-control todos__create-input" type="password" placeholder="Password" ng-model="user.password" />
            <button class="btn btn-success todos__create-button" type="submit">Login</button>
        </form>
    </div>

    <div class="row">
      <div class="span4"><img class="center-block"
        
          <img src="https://cdn0.iconfinder.com/data/icons/iconshock-windows7-icons/256/task_completed.png" class="img-rounded">
       
      </div>
      
    </div>


   <footer class="footer">
      <!-- <div class="container"> -->
        <p class="text-muted">This App brought to you by <a href="http://www.justinbennett.co">Justin Bennett</a>, 2016.</p>
        </p>
     <!--  </div> -->
    </footer>


</div>

<!-- </html> -->



   
